@import "../../styles/config";

.hana-radio-inner {
  // TODO reset material-ui box-sizing
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  font-size: 16px;
  width: $radio-default-size;
  height: $radio-default-size;
  border: 1px solid $radio-default-color;
  border-radius: $radio-default-size;
  vertical-align: middle;
  transition: all 0.2s ease-in;

  &::after {
    position: absolute;
    content: "";
    left: $radio-default-size * 1 / 5;
    top: $radio-default-size * 1 / 5;
    width: $radio-default-size * 3 / 5;
    height: $radio-default-size * 3 / 5;
    border-radius: $radio-default-size * 3 / 5;
    transition: all 0.2s ease-in;
  }
}

.hana-radio-custom {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.hana-radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  font-size: $radio-font-size;

  & span {
    vertical-align: middle;
    line-height: $size-middle-height;
  }

  &:hover .hana-radio-inner {
    border-color: $radio-active-color;
  }
}

.hana-radio-checked {
  & .hana-radio-inner {
    border: 1px solid $radio-active-color;
  }

  & .hana-radio-inner::after {
    display: block;
    background: $radio-active-color;
  }
}

.hana-radio-disabled {
  cursor: not-allowed;
  color: $radio-disabled-color;

  &:hover .hana-radio-inner {
    border-color: $normal-color;
  }

  &.hana-radio-checked .hana-radio-inner {
    border-color: $normal-color;

    &::after {
      background: $normal-color;
    }
  }
}

// ========= RadioGroup ==========
.hana-radio-group {
  & .hana-radio {
    margin-right: 10px;
  }
}
