// @import "reset";
@import "color";
@import "icon";
@import "auto-prefixer";
@import "common";
//@import "extension";

@mixin font-hana {
  font-family: "hanaicon";
}

@mixin hana-icon($name) {
  @include font-hana;

  @extend %icon-#{$name};
}

@function enumerate($list) {
  $map: ();
  $index: 1;

  @while $index <= length($list) {
    $value: nth($list, $index);
    $map: map-merge($map, ($index: $value));
    $index: $index + 1;
  }

  @return $map;
}

@mixin flow-center-x {
  left: 50%;
  transform: translateX(-50%);
}

@mixin flow-center-y {
  top: 50%;
  transform: translateY(-50%);
}

@mixin flow-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
