@use 'sass:math';
@import '../../../../src/styles/config';
@import '../../config.scss';

.demo-topbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 112px;
  @include with-fade-tail($size: 96px, $start: rgba(255, 255, 255, 1));
  &:after {
    pointer-events: none;
  }

  &-container {
    position: relative;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    padding-top: 16px;
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-logo {
    $height: 48px;
    display: block;
    width: math.div($height, 160) * 524;
    height: $height;
    margin-right: 24px;
  }

  &-lang {
  }

  &-right {
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  &-item {
    text-align: center;
    display: flex;
    color: $text-color;
    transition: all .3s ease-in-out;

    &:hover {
      color: $primary-color;
    }

    &-icon.hanaicon {
      font-size: 18px;
      padding-right: 4px;
    }

    &-link {
      font-size: 16px;
    }
  }

  &-en &-item {
    margin: 8px;
  }

  &-cn &-item {
    margin: 8px;
  }
}

