.demo-topbar {
  position: relative;
  width: 100%;
  height: 96px;
  background: rgba(255, 255, 255, .9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

  &-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    top: 24px;
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-logo {
    $height: 56px;
    display: block;
    width: $height / 160 * 524;
    height: $height;
    margin-right: 12px;
  }

  &-lang {
  }

  &-right {
    display: flex;
    align-items: center;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  &-item {
    text-align: center;
    display: flex;

    &-icon.hanaicon {
      font-size: 18px;
      padding-right: 4px;
    }

    &-link {
      font-size: 16px;
    }
  }

  &-en &-item {
    margin: 8px;
  }

  &-cn &-item {
    margin: 8px;
  }
}

