{
  "presets": ["@babel/react", "@babel/env"],

  "plugins": [
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-function-bind",
    ["@babel/plugin-proposal-decorators", {"decoratorsBeforeExport": true}],
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-async-to-generator",
    "transform-class-properties",
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
