{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-async-to-generator",
    "transform-class-properties",
    "syntax-flow",
    "transform-flow-strip-types",
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck"
      ]
    }
  }
}
