$border-color: #ccc;
$column-text-color: #5d5d5d;
$header-text-color: #333;
$hover-bg-color: rgba($border-color, 0.45);
$boder-color-alpha: rgba($border-color, 0.2);

.hana-table {
  border-collapse: collapse;
  width: 100%;

  caption {
    margin-bottom: 10px;
  }

  th {
    border-bottom: 1px solid $border-color;
    color: $header-text-color;
    font-size: 14px;
    font-weight: normal;
    padding: 8px 8px 12px;

    .hana-checkbox {
      margin: 8px 0;
    }
  }

  &-body-row {
    &:not(:first-child) {
      border-top: 1px solid $boder-color-alpha;
    }

    td {
      color: $column-text-color;
      font-size: 12px;

      // overflow: hidden
      padding: 13px 8px;
      word-wrap: break-word;

      // text-overflow: ellipsis
      // white-space: nowrap

      &[class^='hana-grid-'] {
        box-sizing: border-box;
      }
    }

    .hana-checkbox {
      margin-left: 0;
    }
  }

  &-row-hover {
    &:hover {
      background-color: $hover-bg-color !important;
    }
  }

  .hana-checkbox-inner {
    margin-right: 0;
  }
}
