@import '../../config.scss';

.demo-document {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  min-width: 960px;
  padding: 24px;
  margin: 0 auto;
}

.demo-document-sidebar {
  position: relative;
  width: 20%;
  max-width: 200px;
}

.demo-document-sidebar-content {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
  border: none;
  border-radius: 0;
}

.demo-document-content {
  position: relative;
  width: 78%;

  >div {
    >.demo-markdown-element {
      @include with-fade-head-tail();

      h2 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.demo-markdown-element {
  margin-bottom: 20px;

  .markdown-body {
    padding: 0 20px;
    background: rgba(255, 255, 255, .7);
  }
}
