/* Theme: ひまわり/Sunflower/向日葵
 * Author: ひまわり(dtysky<dtysky@outlook.com>)
 * Github: https://github.com/dtysky
 * Created: 16/12/26
 */

// Mode
// box, underline
$mode-main: underline;

// Color
$primary-color: #a4ffa0;
$normal-color: #ccc;
$inactive-color: #ccc;
$disabled-color: #aaa;
$error-color: #d56767;
$warning-color: #e8964a;
$success-color: #4fc478;
$text-color: #808080;
$tooltip-color: #fff;
$black: #000;
$white: #fff;
$l-blue: #01b5fd;

// Icon
// text-before or text-after
$text-icon: hamawari;

// Size
// small
$size-small-font-size: 12px;
$size-small-height: 22px;

// middle
$size-middle-font-size: 14px;
$size-middle-height: 30px;

// large
$size-large-font-size: 16px;
$size-large-height: 40px;

//date-picker
$date-picker-theme-back-color: #fff;
$date-picker-theme-front-color: #55b3dc;
$date-picker-font-main-color: #000;
$date-picker-font-sub-color: #888;

$date-picker-pre-icon: leaf-left;
$date-picker-next-icon: leaf-right;

$date-picker-month-icons: clover, clover, clover, clover, clover, clover, clover, clover, clover, clover, clover, clover;

//time-picker
$time-picker-theme-back-color: #fff;
$time-picker-theme-front-color: #55b3dc;
$time-picker-font-main-color: #000;
$time-picker-font-sub-color: #888;

$time-picker-pre-icon: left;
$time-picker-next-icon: right;
