@import './config.scss';

// for highlight
.sign {
  color: #6cf
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: inherit;
}

.demo-container {
  
}

.demo-bg {
  position: fixed;
  z-index: -2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, .5) url(/demo/static/images/hana.jpg);
  background-blend-mode: color;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.demo-content {
  margin-top: 128px;
}

.demo-with-fade-head {
  @include with-fade-head();
}

.demo-with-fade-tail {
  @include with-fade-tail();
}

.demo-with-fade-head-tail {
  @extend .demo-with-fade-head;
  @extend .demo-with-fade-tail;
}

.hana-menuitem>a{
  display: block;
}
