$bg: '//oekm6wrcq.bkt.clouddn.com/hana-ui/hana.jpg';

@mixin with-fade-head($size: 36px, $start: rgba(255, 255, 255, 0), $end: rgba(255, 255, 255, .7)) {
  &:before {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: $size;
    background: linear-gradient(to bottom, $start, $end);
  }
}

@mixin with-fade-tail($size: 36px, $start: rgba(255, 255, 255, .7), $end: rgba(255, 255, 255, 0)) {
  &:after {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: $size;
    background: linear-gradient(to bottom, $start, $end);
  }
}

@mixin with-fade-head-tail($size: 36px, $start: rgba(255, 255, 255, 0), $end: rgba(255, 255, 255, .7)) {
  @include with-fade-head($size, $start, $end);
  @include with-fade-tail($size, $end, $start);
}
