@mixin with-fade-head($size: 36px) {
  &:before {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: $size;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .7));
  }
}

@mixin with-fade-tail($size: 36px) {
  &:after {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: $size;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
  }
}

@mixin with-fade-head-tail($size: 36px) {
  @include with-fade-head($size);
  @include with-fade-tail($size);
}
